
<app-header></app-header>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container">
	<div class="row">
		<div class="profile-header-container">   
			<div class="profile-header-img">
				<img class="img-circle" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" />
				
				<div class="rank-label-container">
					<div style="text-align: center;">
						<span *ngFor="let a of profiles let i = index;" style="background-color: gray; color: red;">
							<span class="label label-default rank-label" style="font-size: 20px">{{ a.firstname }}</span>
							<p>Lastname: {{ a.lastname }}</p>							
							<p>Email: {{ a.email }}</p>							
							<p>D.O.B. : {{ a.dob }}</p>
							<!-- <p>{{ a.post }}</p>
								<p>{{ a.friend }}</p> -->
							</span>
						</div>
					</div>
				</div>
			</div> 
		</div>
	</div>